body {
  background: #000000;
  padding: 0px 30px;
  color: #ffffff;
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.5px;
}
.EmailBox {
  width: 546px;
  background: #181a1c;
  padding-bottom: 20px;
}
.VNLogo {
  width: 310px;
  height: 100px;
  background: url(../images/VN-tech-labs.png);
  background-size: cover;
  background-position: center center;
  margin-left: -10px;
}
.textCard {
  padding: 10px 40px;
}
.endText {
  padding: 10px 40px;
}
.SocialLinks {
  padding-top: 20px;
  padding-bottom: 0px;
  padding-left: 40px;
  padding-right: 40px;
  display: flex;
  justify-content: left;
}
.button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 14px 16px;
  text-decoration: none;
  position: static;
  left: 0px;
  top: 168px;
  background: #3075cb;
  border-radius: 4px;
  flex: none;
  order: 3;
  align-self: stretch;
  flex-grow: 0;
  margin: 16px 0px;
}
.buttonBold {
  font-family: "Roboto";
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 1.25px;
  text-transform: uppercase;
  color: #ffffff;
}
.link {
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.4px;
  color: #ffffff;
  word-wrap: break-word;
}
.twitterLink {
  width: 40px;
  height: 40px;
  background: url(../images/twitter.png);
  background-size: cover;
  background-position: center center;
  margin-right: 20px;
}
.instagramLink {
  width: 40px;
  height: 40px;
  background: url(../images/instagram.png);
  background-size: cover;
  background-position: center center;
  margin-right: 20px;
}
.facebookLink {
  width: 40px;
  height: 40px;
  background: url(../images/facebook.png);
  background-size: cover;
  background-position: center center;
  margin-right: 20px;
}
.address {
  padding: 0px 40px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: rgba(255, 255, 255, 0.7);
}
.space {
  height: 60px;
}
